# Ignore Mac system files
.DS_Store

# Ignore dataset folder
face_module/dti project folder/

# Ignore large model files
*.h5
*.pth
*.csv

# Allow only shared output csv
!shared_outputs/emotion_output.csv

.DS_Store
face_module/dti project folder/dataset/
face_module/dti project folder/*.h5
face_module/dti project folder/fer2013.csv
